html {
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: center;
    height: 300px;
    border-bottom: 2px solid #000000;
    border-top: 2px solid #000000;
}

.main-header {
    text-align: center;
}

.navbar-image{
    background-image: url(BBP1.jpeg);
    background-color: #a8a7a7;
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    width: 100%;
}

body {
    font-family: Helvetica, Helvetica Neue, Arial;
    font-size: 16px;
    text-decoration: none;
}

.overlay {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 87%;
    transition: 0.5s ease;
    opacity: 0;
    color: rgb(255, 255, 255);
    font-size: 20px;
    padding: 20px;
    text-align: center;
}

.container1:hover .overlay {
    opacity: 1;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #a8a7a7;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
}


.navbar a {
    color: white;
    text-decoration: none;
    padding: 16px;
}

ul {
    list-style-type: none;
    width: 100%;
    color: transparent;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 250px;
    align-items: flex-start;
}

.container {
    display: none;
}

.navbar {
    display: flex;
    justify-content: center;

}
 .items {
    font-size: 16px;
    color: purple;
    text-align: center;
    text-decoration: none;
    border: none;
    outline: none;
} 

.item-1, .item-3, .item-4, .item-5 {
    padding: 16px;
}

.dropbtn {
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    background-color: transparent;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #333333;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown .dropbtn {
    font-size: 16px;
    padding: 16px;
    border: none;
    outline: none;
    color: white;
    font-family: inherit;
    margin: none;
    align-self: center;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #333333;
}

.dropdown-content {
    display: none;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 2);
    overflow: auto;
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    text-align: center;
    background-color: #333333;
}

.dropdown-content a:hover {
    background-color: transparent;
}

.show {
    display: flex;
    flex-direction: column;
}

.main-images {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: space-between;
    padding: 50px;
}

.container1 {
    position: relative;
    max-width: 300px;
    width: 50%;
    margin: 20px;
}

.image {
    display: block;
    width: 100%;
    height: auto;
}

.main-footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;

}

/* .imgWrapper {
    width: 70%;
    margin-block-start: 2px;
    margin-block-end: 2px;
    padding: 2px;
    display: block;
    border: none;
} */

/********************
Media Queries
********************/

@media only screen and (min-width: 480px) {
    /* .main-header {
        display: none;
    }   */
    /* .container {
        display: block;
    } */
}

@media only screen and (min-width: 720px) {

}